<div class="main-container">
    <div class="ipb-container">
        <h3 style="font-weight: 700; font-size:30px;">Licitações</h3>
        <hr>
        <p>Utilize o filtro de pesquisa abaixo para localizar a licitação de seu interesse. Informação disponibilizada conforme Art. 8º, §1º Inciso IV, da Lei 12.527/11 e Art. 7º, Inciso I, alínea "e", do Decreto nº 7.185/10.</p>
        <div class="filtro-licitacoes">
            <div class="input-row">
                <div class="input">
                    <label>Número da Licitação</label>
                    <input type="number" name="Numero" placeholder="Número da licitação">
                </div>
                <div class="input">
                    <label>Ano</label>
                    <select name="Ano">
                        <option value="">Ano</option>
                    </select>
                </div>
                <div class="input">
                    <label>Categoria</label>
                    <select name="Categoria">
                        <option value="">Categoria</option>
                    </select>
                </div>
                <div class="input">
                    <label>Modalidade</label>
                    <select name="Modalidade">
                        <option value="">Modalidade</option>
                    </select>
                </div>
                <div class="input">
                    <label>Fundamentação legal</label>
                    <select name="Fund">
                        <option value="">Fundamentação legal</option>
                    </select>
                </div>
                <div class="input">
                    <label>Unidade</label>
                    <select name="Und">
                        <option value="">Unidade</option>
                    </select>
                </div>
                <div class="input">
                    <label>Status</label>
                    <select name="Status">
                        <option value="">Status</option>
                    </select>
                </div>
                <div class="input">
                    <label>Data limite</label>
                    <input type="date" name="DTLimite">
                </div>
                <div class="input">
                    <label>Ordenar por</label>
                    <select name="Ord">
                        <option value="">Ordenar por</option>
                    </select>
                </div>
                <div class="input" style="width:100%;">
                    <label>Palavra-chave</label>
                    <input type="text" name="Chave" placeholder="Palavra-chave">
                </div>
                <div class="input">
                    <label>Resultados por Página</label>
                    <select name="PerPage">
                        <option value="">Resultados por Página</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="licitacoes">
            <div class="lista-licitacoes">
                <table class="row-licitacao">
                    <thead>
                        <tr>
                            <th colspan="3">Saúde</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nº. do processo:</td>
                            <td>Modalidade: </td>
                            <td>Nº. da modalidade: </td>
                        </tr>
                        <tr>
                            <td>1ª sessão pública:</td>
                            <td colspan="2">Situação: </td>
                        </tr>
                        <tr>
                            <td colspan="3">CONTRATAÇÃO DE SOCIEDADE EMPRESÁRIA PARA EXECUÇÃO DA OBRA DE CONSTRUÇÃO DO CENTRO DE ATENÇÃO PSICOSSOCIAL (CAPS) AD III, BAIRRO CANELAS, COM FORNECIMENTO D</td>
                        </tr>
                    </tbody>
                </table>
                <table class="row-licitacao">
                    <thead>
                        <tr>
                            <th colspan="3">Saúde</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nº. do processo:</td>
                            <td>Modalidade: </td>
                            <td>Nº. da modalidade: </td>
                        </tr>
                        <tr>
                            <td>1ª sessão pública:</td>
                            <td colspan="2">Situação: </td>
                        </tr>
                        <tr>
                            <td colspan="3">CONTRATAÇÃO DE SOCIEDADE EMPRESÁRIA PARA EXECUÇÃO DA OBRA DE CONSTRUÇÃO DO CENTRO DE ATENÇÃO PSICOSSOCIAL (CAPS) AD III, BAIRRO CANELAS, COM FORNECIMENTO D</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
</div>