<div class="main-container">
    <!--SERVICOS-->
    <div class="ipb-container">
        <div class="menu-central">
            <div class="servidor sv">
                <span>
                    <img src="src/img/servicos/espaço do servidor.jpg">
                </span>
                <span>
                    <img src="src/img/servicos/eSic.png" height="200px" width="100%;">
                </span>
            </div>
            <div class="servicos sv">
                <span onclick="irPara('/Licitacoes')">
                    <div>
                        <img src="src/img/servicos/licitacoes.png">
                    </div>
                    <br>
                    <div>
                        <p>LICITAÇÕES E CONTRATOS</p>
                    </div>
                </span>
                <span>
                    <div>
                        <img src="src/img/servicos/servico-cidadao.png">
                    </div>
                    <br>
                    <div>
                        <p>SERVIÇOS PARA O CIDADÃO</p>
                    </div>
                </span>
                <span>
                    <div>
                        <img src="src/img/servicos/servico-turismo.png">
                    </div>
                    <br>
                    <div>
                        <p>SERVIÇOS PARA TURISTAS</p>
                    </div>
                </span>
                <span>
                    <div>
                        <img src="src/img/servicos/servico-empresas.png">
                    </div>
                    <br>
                    <div>
                        <p>SERVIÇOS PARA EMPRESAS</p>
                    </div>
                </span>
                <span>
                    <div>
                        <img src="src/img/servicos/servico-transparencia.png">
                    </div>
                    <br>
                    <div>
                        <p>TRANSPARÊNCIA</p>
                    </div>
                </span>
                <span>
                    <div>
                        <img src="src/img/servicos/calendar.png">
                    </div>
                    <br>
                    <div>
                        <p>CALENDÁRIO DE EVENTOS</p>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <!--NOTÍCIAS-->
    <br>
    <div class="ipb-container">
        <h3 style="font-weight: 700; font-size:30px;">FIQUE POR DENTRO</h3>
        <p>Saiba tudo o que acontece no município! <a href="">Ver mais</a></p>
        <div class="menu-noticias">
            <div class="principal sv">
                <span style="background: url('src/img/noticias/noticia1.jpeg'); background-size: cover;">
                    <div class="overlay"></div>
                    <p>Resgate vence Ajax na abertura do campeonato Ipabense 2025.</p>
                </span>
            </div>
            <div class="demais sv">
                <span style="background: url(src/img/noticias/noticia2.jpeg); background-repeat:no-repeat;">
                    <div class="overlay"></div>
                    <p>SECRETARIA DE EDUCAÇÃO ABRE ANO ESCOLAR COM ENTREGA DE NOTEBOOKS E KITS PEDAGÓGICOS AOS...</p>
                </span>
                <span style="background: url(src/img/noticias/noticia3.jpeg); background-repeat:no-repeat;">
                    <div class="overlay"></div>
                    <p>IPABA AVANÇA NA REGULARIZAÇÃO DE IMÓVEIS DO BAIRRO NOVO HORIZONTE.</p>
                </span>
                <span style="background: url(src/img/noticias/noticia4.jpg); background-repeat:no-repeat;">
                    <div class="overlay"></div>
                    <p>Defesa Civil atua para resolver problemas causados pelas fortes chuvas que caíram no Distrito de Val</p>
                </span>
                <span style="background: url(src/img/noticias/noticia5.jpeg); background-repeat:no-repeat;">
                    <div class="overlay"></div>
                    <p>Equipes participantes do campeonato ipabense 2025 recebem uniformes, kits, bolas e primeira parcela </p>
                </span>
            </div>
        </div>
    </div>
    <br>
    <!---->
</div>