<div class="main-container">
    <!--SERVICOS-->
    <div class="ipb-container">
        <div class="menu-central">
            <div class="servidor sv">
                <span>
                    <h1>a</h1>
                </span>
                <span>
                    <h1>a</h1>
                </span>
            </div>
            <div class="servicos sv">
                <span>
                    <h1>b</h1>
                </span>
                <span>
                    <h1>b</h1>
                </span>
                <span>
                    <h1>c</h1>
                </span>
                <span>
                    <h1>d</h1>
                </span>
                <span>
                    <h1>c</h1>
                </span>
                <span>
                    <h1>d</h1>
                </span>
            </div>
        </div>
    </div>
    <!--NOTÍCIAS-->
    <br>
    <div class="ipb-container">
        <div class="menu-noticias">
            <div class="principal sv">
                <span>
                    <h1>a</h1>
                </span>
            </div>
            <div class="demais sv">
                <span>
                    <h1>b</h1>
                </span>
                <span>
                    <h1>b</h1>
                </span>
                <span>
                    <h1>c</h1>
                </span>
                <span>
                    <h1>d</h1>
                </span>
            </div>
        </div>
    </div>
    <br>
    <!---->
</div>