<div class="main-container">
    <div class="ipb-container">
        <h3 style="font-weight: 700; font-size:30px;">Relatórios de Contas Públicas</h3>
        <hr>
        <p>Abaixo estão listados todos os relatórios de Contas Públicas. Utilize os filtros de pesquisa para localizar e visualizar apenas os dados de seu interesse. Informação disponibilizada conforme Art. 48, caput, da LC 101/00.</p>
        <div class="filtro-licitacoes">
            <div class="input-row">
                <div class="input" style="width:49.6%;">
                    <label>Pesquisa</label>
                    <input type="text" name="Pesquisa" placeholder="Pesquisa">
                </div>
                <div class="input" style="width:49.6%;">
                    <label>Relatório</label>
                    <select name="Relatorio">
                        <option value="">Ano</option>
                    </select>
                </div>
                <div class="input">
                    <label>Periodo</label>
                    <select name="Periodo">
                        <option value="">Sim</option>
                        <option value="">Não</option>
                    </select>
                </div>
                <div class="input">
                    <label>Ano</label>
                    <select name="Ano">
                        <option value="">Selecione um tipo</option>
                    </select>
                </div>
                <div class="input">
                    <label>Resultados por página</label>
                    <select name="PerPage">
                        <option value="">10</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="licitacoes">
            <div class="lista-licitacoes">
                <div class="row-legislacao">
                    <div class="header">
                        <span class="icon">📄</span>
                        <strong>ANEXO 12 DO RREO</strong>
                    </div>
                    <br>
                    <div class="info">
                        <span class="badge">6º Bimestre</span>
                        <span class="badge">2023</span>
                    </div>
                    <p class="text">Publicado em 29/02/2024</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>