<div class="main-container">
    <div class="ipb-container">
        <h3 style="font-weight: 700; font-size:30px;">Extrato de Contratos</h3>
        <hr>
        <p>Utilize os filtros de pesquisa para localizar e baixar os arquivos de seu interesse.</p>
        <div class="filtro-licitacoes">
            <div class="input-row">
                <div class="input">
                    <label>Pesquisa</label>
                    <input type="text" name="Pesquisa" placeholder="Pesquisa">
                </div>
                <div class="input">
                    <label>De</label>
                    <input type="date" name="De">
                </div>
                <div class="input">
                    <label>Ate</label>
                    <input type="date" name="Ate">
                </div>
                <div class="input">
                    <label>Resultados por página</label>
                    <select name="PerPage">
                        <option value="">10</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="licitacoes">
            <div class="lista-licitacoes">
                <div class="row-legislacao">
                    <div class="header">
                        <span class="icon">📄</span>
                        <strong>Extrato de Contratos de 2018</strong>
                    </div>
                    <br>
                    <div class="info">
                        <span class="badge">Publicado em 29/02/2019</span>
                    </div>
                    <p class="text">O MUNICÍPIO DE IPABA - MG, torna publico a assinatura de TERMOS DE ADITIVOS E TERMOS DE CONTRATOS DIVERSOS COMO SEGUE</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>