<div class="main-container">
    <div class="ipb-container">
        <h3 style="font-weight: 700; font-size:30px;">Terceiro setor - parcerias com OSCs</h3>
        <hr>
        <p>Parcerias entre Organizações da Sociedade Civil (OSCs) e Administrações Públicas sempre foram comuns e essenciais para o funcionamento de programas e ações voltadas à sociedade. Antes, sem uma legislação específica que estabelecesse diretrizes direcionadas a essas parcerias, a transparência e o controle social eram praticamente nulos.
            <br><br>
            Entretanto, em 2014 foi sancionada a Lei 13.019, que “Estabelece o regime jurídico das parcerias voluntárias, envolvendo ou não transferências de recursos financeiros, entre a administração pública e as organizações da sociedade civil, em regime de mútua cooperação, para a consecução de finalidades de interesse público; define diretrizes para a política de fomento e de colaboração com organizações da sociedade civil; institui o termo de colaboração e o termo de fomento; e altera as Leis nºs 8.429, de 2 de junho de 1992, e a Lei 9.790, de 23 de março de 1999.”
            <br><br>
            Essas parcerias são realizadas necessariamente entre a Administração Pública e as Organizações da Sociedade Civil, que são entidades privadas sem fins lucrativos. Além de não ter fins lucrativos, essas organizações precisam também desenvolver atividades relevantes de interesse público, por exemplo, nas áreas da saúde, educação, cultura, assistência social, entre outras, para firmarem uma parceria.
            <br><br>
            Segundo a legislação, a Administração Pública deverá manter, em uma área específica do site, a relação de todas as parcerias estabelecidas entre o Órgão e as Organizações da Sociedade Civil, em ordem alfabética, por um prazo de cinco anos após a celebração dessas parcerias. Deverá, também, divulgar amplamente os editais das parcerias, além de homologar e divulgar o resultado do julgamento no próprio site.
            <br><br>
           Em atendimento a esta Lei, que ficou conhecida como Marco Regulatório das Organizações da Sociedade Civil, e fomento à transparência das informações públicas, esta página contempla todos os recursos que possibilitam à administração viabilizar o acompanhamento online dos processos de liberação de recursos referentes às parcerias celebradas nos termos da Lei. Sendo assim, por meio deste mecanismo, os cidadãos podem ter acesso integral às informações referentes às parcerias realizadas entre a administração e as OSCs, além de possibilitar que as organizações realizem todos os trâmites necessários com a administração, por meio do próprio site, reduzindo burocracias, gastos e tempo no processo de parcerias entre as partes.</p>
        <div class="filtro-licitacoes">
            <div class="input-row">
                <div class="input">
                    <label>Pesquisa</label>
                    <input type="text" name="Pesquisa" placeholder="Pesquisa">
                </div>
                <div class="input">
                    <label>De</label>
                    <select name="Periodo">
                        <option value="">Sim</option>
                        <option value="">Não</option>
                    </select>
                </div>
                <div class="input">
                    <label>Ate</label>
                    <select name="Ano">
                        <option value="">Selecione um tipo</option>
                    </select>
                </div>
                <div class="input">
                    <label>Resultados por página</label>
                    <select name="PerPage">
                        <option value="">10</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="licitacoes">
            <div class="lista-licitacoes">
                <div class="row-legislacao">
                    <div class="header">
                        <span class="icon">📄</span>
                        <strong>ANEXO 12 DO RREO</strong>
                    </div>
                    <br>
                    <div class="info">
                        <span class="badge">6º Bimestre</span>
                        <span class="badge">2023</span>
                    </div>
                    <p class="text">Publicado em 29/02/2024</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>