<div class="main-container">
    <div class="ipb-container">
        <h3 style="font-weight: 700; font-size:30px;">Executivo</h3>
        <hr>
        <p>Confira abaixo os documentos com todas as informações oficiais divulgadas pela administração. Selecione a data para visualizar a edição de seu interesse.</p>
        <div class="filtro-diario">
            <div class="input-row">
                <div class="input">
                    <label>Pesquisa</label>
                    <input type="text" name="Pesquisar" placeholder="Pesquisar">
                </div>
                <div class="input">
                    <label>Nº da edição</label>
                    <input type="number" name="Edicao" placeholder="Nº da edição">
                </div>
                <div class="input">
                    <label>De</label>
                    <input type="date" name="De">
                </div>
                <div class="input">
                    <label>Ate</label>
                    <input type="date" name="De">
                </div>
                <div class="input" style="width:100%;">
                    <label>Caderno</label>
                    <select name="Todos">
                        <option value="">Todos</option>
                    </select>
                </div>
                <div class="input">
                    <label>Resultados por Página</label>
                    <select name="PerPage">
                        <option value="">Resultados por Página</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="diario">
            <div class="lista-diario">
                <table class="row-diario">
                    <thead>
                        <tr>
                            <th colspan="3">N° 843 / 2024</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Data: 17/12/2024</td>
                            <td>Hora: 18:04 </td>
                            <td>Tamanho: 2.236MB </td>
                        </tr>
                        <tr>
                            <td colspan="3">Descrição do diario</td>
                        </tr>
                        <tr>
                            <td colspan="3"><button class="btn btn-primary btn-xs">VISUALIZAR ARQUIVO</button></td>
                        </tr>
                    </tbody>
                </table>
                <table class="row-diario">
                    <thead>
                        <tr>
                            <th colspan="3">N° 843 / 2024</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Data: 17/12/2024</td>
                            <td>Hora: 18:04 </td>
                            <td>Tamanho: 2.236MB </td>
                        </tr>
                        <tr>
                            <td colspan="3">Descrição do diario</td>
                        </tr>
                        <tr>
                            <td colspan="3"><button class="btn btn-primary btn-xs">VISUALIZAR ARQUIVO</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
</div>