<div class="main-container">
    <div class="ipb-container">
        <h3 style="font-weight: 700; font-size:30px;">Legislações</h3>
        <hr>
        <p>Por meio dos filtros de pesquisa abaixo é possível localizar a legislação desejada, visualizá-la no portal e fazer o download do arquivo para o seu computador ou dispositivo móvel.</p>
        <div class="filtro-licitacoes">
            <div class="input-row">
                <div class="input">
                    <label>Número da Licitação</label>
                    <input type="number" name="Numero" placeholder="Número da licitação">
                </div>
                <div class="input">
                    <label>Ano</label>
                    <select name="Ano">
                        <option value="">Ano</option>
                    </select>
                </div>
                <div class="input">
                    <label>Revogada</label>
                    <select name="Revogada">
                        <option value="">Sim</option>
                        <option value="">Não</option>
                    </select>
                </div>
                <div class="input">
                    <label>Tipo</label>
                    <select name="Tipo">
                        <option value="">Selecione um tipo</option>
                    </select>
                </div>
                <div class="input">
                    <label>Ordenar por</label>
                    <select name="Ordenar">
                        <option value="">Ano/Número decrescente</option>
                    </select>
                </div>
                <div class="input">
                    <label>Unidade</label>
                    <select name="Und">
                        <option value="">Unidade</option>
                    </select>
                </div>
                <div class="input" style="width:100%;">
                    <label>Assunto</label>
                    <input type="text" name="Chave" placeholder="Palavra-chave">
                </div>
                <div class="input">
                    <label>Periodo de</label>
                    <input type="date" name="PDe">
                </div>
                <div class="input">
                    <label>até</label>
                    <input type="date" name="PAte">
                </div>
                <div class="input">
                    <label>Resultados por Página</label>
                    <select name="PerPage">
                        <option value="">Resultados por Página</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="licitacoes">
            <div class="lista-licitacoes">
                <div class="row-legislacao">
                    <div class="header">
                        <span class="icon">📄</span>
                        <strong>Lei Ordinária Nº 1008/2025</strong>
                    </div>
                    <br>
                    <div class="info">
                        <span class="badge">Norma assinada em: 10/02/2025</span>
                        <span class="badge">Publicado em 10/02/2025</span>
                    </div>
                    <p class="text">“ALTERA A LEI MUNICIPAL Nº. 1.005/2024 E DÁ OUTRAS PROVIDÊNCIAS”.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>